{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col-sm-6">
    <h1 class="text-default">Liste des biens</h1>
         </div>
         <div class="col-sm-6 text-right">
    <button class="btn btn-default"><a href="{{ path('bien_new') }}"><i class="fas fa-plus" aria-hidden="true"></i>Ajouter un bien</a></button>
            </div>
        </div>

        <div class="row mb-4">
        <div class="col-sm-8">
          <form class="form-inline" >
                {{ form_start(form) }}
                    {{ form_label(form.searchTitre, null, { 'label': 'Votre recherche :', 'label_attr': {'class': 'text-default col-sm-3'} }) }}
                    {{ form_widget(form.searchTitre) }}
                    <button class="btn btn-md btn-default my-2 my-sm-0 ml-3" type="submit"><i class="fas fa-search"></i></button>
                {{ form_end(form) }}
          </form>
        </div>
        <div class="col-sm-4 text-right">
            <div class="count text-default">
             Nombre de biens:  <b>{{ biens.getTotalItemCount }}</b>
            </div>
        </div>
    </div>  

    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Photo</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Categorie</th>
                <th>ajouté le</th>
                <th>Mis à jour le</th>
                <th>Titre</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>
                {% if bien.photo %}
                <img src="{{asset("uploads/images/"~ bien.photo )}}">
                 {% endif %}
                </td>

                <td>{{ bien.description }}</td>
                <td>{{ bien.prix }}</td>
                <td>{{ bien.categorie }}</td>
                <td>{{ bien.createdAt ? bien.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ bien.updatedAt ? bien.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ bien.titre }}</td>
                <td>{{ bien.type }}</td>
                <td>
                    <a href="{{ path('bien_show', {'id': bien.id}) }}">Afficher</a>
                    <a href="{{ path('bien_edit', {'id': bien.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun bien</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
         <div class="row mb-4">
        <div class="col-12 my-3 text-center">
        <div class="d-inline-block">
            {{ knp_pagination_render(biens) }}
            </div>
        </div>
    </div>
     {# <a href="{{ path('bien_new') }}">Créer nouveau bien</a>   #} 
{% endblock %}
