{% extends 'base.html.twig' %}

{% block title %}Bien index{% endblock %}

{% block body %}
    <div class="row mb-4">
        <div class="col-sm-6">
    <h1 class="text-default">Bien index</h1>
         </div>
         <div class="col-sm-6 text-right">
            
    <button class="btn btn-default"><a href="{{ path('bien_new') }}"><i class="fas fa-plus" aria-hidden="true"></i>Ajouter un bien</a></button>
            </div>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Photo</th>
                <th>Categorie</th>
                <th>Créer le</th>
                <th>Mis à jour le</th>
                <th>Titre</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bien in biens %}
            <tr>
                <td>{{ bien.id }}</td>
                <td>{{ bien.description }}</td>
                <td>{{ bien.prix }}</td>
                <td>{{ bien.photo }}</td>
                <td>{{ bien.categorie }}</td>
                <td>{{ bien.createdAt ? bien.createdAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ bien.updatedAt ? bien.updatedAt|date('d/m/Y H:i:s') : '' }}</td>
                <td>{{ bien.titre }}</td>
                <td>{{ bien.type }}</td>
                <td>
                    <a href="{{ path('bien_show', {'id': bien.id}) }}">show</a>
                    <a href="{{ path('bien_edit', {'id': bien.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">Aucun bien</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bien_new') }}">Créer nouveau bien</a>
{% endblock %}
